    @font-face {
        src: url(./assets/fonts/Kastelov-Axiforma-Bold.otf);
        font-family: 'Kastelov Axiforma';
        font-weight: 700;
    }
    
    @font-face {
        src: url(./assets/fonts/Kastelov-Axiforma-Black.otf);
        font-family: 'Kastelov Axiforma';
        font-weight: 900;
    }
    
    @font-face {
        src: url(./assets/fonts/Kastelov-Axiforma-Light.otf);
        font-family: 'Kastelov Axiforma';
        font-weight: normal;
    }
    
    $primary-color: #00d4bb;
    $font-stack: 'Kastelov Axiforma';
    html {
        font-family: "Kastelov Axiforma";
        margin: 0;
    }
    
    @media(max-width:1024px) {
        .body-border {
            border: 26px solid rgba(0, 212, 187, 0.5);
        }
        .body-border {
            border: 26px solid rgba(0, 212, 187, 0.5);
        }
        .background {
            background-position: 80% 31%;
        }
    }